DATABASE_URL="postgresql://neondb_owner:npg_kYOLE2dC7gfN@ep-spring-base-adirsovv-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

PORT=3001
NODE_ENV=development

FRONTEND_URL=https://localhost:3000 || https://dashboardsales-eesh.vercel.app
